Name: Abhishek Roy

Task-1: Create a pandas dataframe (Dataframe name as 'df')(10 observations and 5 features)

In [ ]:
import pandas as pd
import numpy as np
Datapack={'Feature1': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
      'Feature2':['A','B','C','D','E','F','G','H','I','J'],
      'Feature3':[0.5,1.0,1.5,2.0,2.5,3.0,3.5,4.0,4.5,5.0],
      'Feature4':[True,False,True,False,True,False,True,False,True,False],
      'Feature5':['X','Y','Z','X','Y','Z','X','Y','Z','X']}
df=pd.DataFrame(Datapack)
df

   Feature1 Feature2  Feature3  Feature4 Feature5
0         1        A       0.5      True        X
1         2        B       1.0     False        Y
2         3        C       1.5      True        Z
3         4        D       2.0     False        X
4         5        E       2.5      True        Y
5         6        F       3.0     False        Z
6         7        G       3.5      True        X
7         8        H       4.0     False        Y
8         9        I       4.5      True        Z
9        10        J       5.0     False        X

Task-2: Check the info of 'df'

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Feature1  10 non-null     int64
 1   Feature2  10 non-null     object
 2   Feature3  10 non-null     float64
 3   Feature4  10 non-null     bool
 4   Feature5  10 non-null     object
dtypes: bool(1), float64(1), int64(1), object(2)
memory usage: 458.0+ bytes
None

Task-3: Check the descriptive statistic of 'df'

In [ ]:
print(df.describe())

       Feature1   Feature3
count  10.00000  10.000000
mean    5.50000   2.750000
std     3.02765   1.513825
min     1.00000   0.500000
25%     3.25000   1.625000
50%     5.50000   2.750000
75%     7.75000   3.875000
max    10.00000   5.000000

Task-4: Check the 4th index observation with 'loc' slicing operator.

In [ ]:
print(df.loc[4])

Feature1       5
Feature2       E
Feature3     2.5
Feature4    True
Feature5       Y
Name: 4, dtype: object

Task-5: Check the null values in the 'df'

In [ ]:
print(df.isnull())

   Feature1  Feature2  Feature3  Feature4  Feature5
0     False     False     False     False     False
1     False     False     False     False     False
2     False     False     False     False     False
3     False     False     False     False     False
4     False     False     False     False     False
5     False     False     False     False     False
6     False     False     False     False     False
7     False     False     False     False     False
8     False     False     False     False     False
9     False     False     False     False     False